<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculatro</title>
</head>
<body>
<form name="example" action="/example" >
    <input name="firstnumber" type="number" value="{{ liczba }}"><br>
    <select name="znak">
        <option value="Wybierz znak:"></option>
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="/">/</option>
        <option value="*">*</option>
    </select><br>
    <input name="secondnumber" type="number" value="{{ liczba2 }}">
    <input name="foo" type="submit" value="Wyslij">
</form>

</body>
</html>